<p data-translate="useraccount_contacts_services_infos"></p>

<div
    data-ng-if="$ctrl.isFetchingInitialData"
    class="text-center">
    <oui-spinner></oui-spinner>
</div>

<oui-datagrid
    data-ng-if="!$ctrl.isFetchingInitialData"
    data-rows="$ctrl.services">
    <oui-column
        data-title="'Catégorie'"
        data-property="categoryName"
        data-sortable
        data-type="string"
        data-filterable></oui-column>
    <oui-column
        data-title="'Nom du service'"
        data-property="serviceName"
        data-sortable="asc"
        data-type="string"
        data-searchable></oui-column>
    <oui-column
        data-title="'Contact administrateur'"
        data-property="adminContact"
        data-sortable
        data-type="string"
        data-filterable></oui-column>
    <oui-column
        data-title="'Contact technique'"
        data-property="technicalContact"
        data-sortable
        data-type="string"
        data-filterable></oui-column>
    <oui-column
        data-title="'Contact facturation'"
        data-property="billingContact"
        data-sortable
        data-type="string"
        data-filterable></oui-column>
    <oui-action-menu
        data-align="end"
        data-compact>
        <oui-action-menu-item data-text="Editer"></oui-action-menu-item>
    </oui-action-menu>
</oui-datagrid>
