<span data-ng-class="{ 'd-block': !$ctrl.inline }">
    <span data-ng-if="$ctrl.constants.target !== 'US'">
        <a class="mr-2"
            data-ng-href="{{:: $ctrl.getRenewUrl() }}"
            data-ng-bind=":: $ctrl.serviceInfos.expiration | date:'mediumDate'"
            data-ng-if="!$ctrl.hideRenewDate"
            data-track-on="click"
            data-track-name="renew-{{::$ctrl.serviceType.toLowerCase()}}"
            data-track-click="action">
        </a>

        <a target="_blank"
           class="btn btn-default"
           title="{{ :: 'core_service_renew_button' | translate }}"
           data-ng-if="!$ctrl.forceHideRenewAction && ((!$ctrl.isAutoRenew() && $ctrl.getRenewUrl() && !$ctrl.hideRenewAction) || ($ctrl.serviceInfos.status === 'expired'))"
           data-ng-href="{{:: $ctrl.getRenewUrl() }}"
           data-ng-bind="::'core_service_renew_button' | translate"
           data-track-on="click"
           data-track-name="renew-{{::$ctrl.serviceType.toLowerCase()}}"
           data-track-click="action">
        </a>
    </span>
</span>
